/* -----Welcone-----  */

  .welcome-sentense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top:150px;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
  }
  
  .hello {
    font-size: 3.0rem;
    margin-left: -300px;
  }
  
  .hello-name {
    font-size: 4rem;
    margin-top: 80px;
  }

  .hello-title {
    font-size: 4rem;
    margin-top: 40px;
  }

  .hello-name, .hello-title{
    background: linear-gradient(110deg, #f900f3  20%, #2f0bcf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .jobtitle {
    font-size: 1.5rem;
    margin-top: 40px;
  }
  
  
  .device-image img{
    height: auto;
    width: 100%;
  }
  
  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: -50px;
  }
  
  .device1 {
    grid-column: 1 / 2;
    justify-self: end;
    max-width: 350px;
  }
  
  .device2 {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
    margin-right: -130px;
    max-width: 280px;
  }
  
  .device3 {
    grid-column: 3 / 4;
    justify-self: start;
    max-width: 350px;
  }
  
  @media (max-width: 900px) {
    html {
      font-size: 90%;
    }
    .device-image {
        margin-top: -30px;
      }
    .device2 {
        margin-right: -100px;
        max-width: 240px;
    }
      
    }

    @media (max-width: 780px) {
    /* --- welcome --- */
    html{
        font-size: 75%;
    }
  .hello  {
    margin-left: -150px;
  }
  .hello-name {
    margin-top: 40px;
  }
  .hello-title {
    margin-top: 25px;
  }
  .jobtitle {
    margin-top: 20px;
  }

  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: -20px;
    grid-gap: 8px;
  }
  .device1 {
    max-width: 80%;
  }
  .device2 {
    max-width: 75%;
    margin-right: -60px;
  }
  .device3 {
    max-width: 80%;
  }
        }

@media (max-width: 500px) {
    html {
        font-size: 60%;
        line-height: 1.2;
    }
    .hello  {
        margin-left: -100px;
      }

      .hello-name {
        margin-top: 30px;
      }
      .hello-title {
        margin-top: 20px;
      }
      .jobtitle {
        margin-top: 18px;
      }
    
    .device1 {
        max-width: 75%;
        margin-top: 15px;
      }
      .device2 {
        max-width: 70%;
        margin-right: -50px;
        margin-top: 15px;
      }
      .device3 {
        max-width: 75%;
        margin-top: 15px;
      }
}


@media (max-width: 460px) {
    html {
        font-size: 50%;
        line-height: 1.2;
    }

    .welcome-sentense{
        display: flex;
    align-items: center;
    flex-direction: column;
    }
    .hello  {
        margin-left: -50px;
      }

      .hello-name {
        margin-top: 15px;
      }
      .hello-title {
        margin-top: 15px;
      }
      .jobtitle {
        margin-top: 13px;
        font-size: 16px;
      }
    
    .device1 {
        max-width: 80%;;
        justify-self: start;
      }
      .device2 {
        max-width: 75%;
        margin-right: -40px;
      }
      .device3 {
        max-width: 80%;
      }
}
  