
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 130px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
    max-width: 30px;

}
.anchor-link{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    display: inline-block;
}
.anchor-link:hover{
    transform: scale(1.05);
    color:var(--button-hover-color);
}

.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;

}

@media(max-width:950px){
    .navbar{
        margin: 20px 50px;
    }

    .nav-menu{ 
        gap: 50px;
        font-size: 18px;   
    }
    
}


@media(max-width:780px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 40px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 40px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #d6ac82;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li{
        font-size: 25px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

    @media(max-width:460px){

        .nav-menu li{
            font-size: 20px;    
        }
    }
}


@media (max-width: 500px) {
    .nav-mob-open{
        top: 30px;
        right: 30px;
        width: 25px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 25px;
    }
}